<h1>Chitter</h1>
<h2>What's happening now?</h2>
<form action="/log-in">
  <input type='submit' value='Log in'/>
</form>
<br>
<h2>Join Chitter today.</h2>
<form action="/sign-up">
  <input type='submit' value='Sign up'/>
</form>
