<h2>Search term: <%=@keyword%> </h2>

  <% if @searched.length == 0 %>
  <h1 class="text"> Sorry. No results found. Try again. </h1>
  <%else%>
  <% @searched.each do |peep| %>
  <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.message%>
      <%= peep.date%>
    </li>
    <% end %>


      <% end %>
